@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
﻿@using GameShop.ViewModel;
@model WishGameProductViewModel
<div class="container py-5">

    <div class="row">
        <div class="col-lg-6">
            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @if(Model.GameProduct.Videos.Count>0)
                    {
                        <div class="carousel-item active">
                            <video src="@Model.GameProduct.Videos[0].Url" class="d-block w-100" controls />
                        </div>
                    }
                    else if (Model.GameProduct.Images.Count > 0)
                    {
                        <div class="carousel-item active">
                            <img src="@Model.GameProduct.Images[0].Url" class="d-block w-100" alt="@Model.GameProduct.Title" />
                        </div>
                    }
                    @if (Model.GameProduct.Videos.Count > 0 && Model.GameProduct.Images.Count > 0)
                    {
                        @for (int i = 1; i < Model.GameProduct.Videos.Count; i++)
                        {
                            <div class="carousel-item">
                                <video src="@Model.GameProduct.Videos[i].Url" class="d-block w-100" controls></video>
                            </div>
                        }

                        @foreach (var image in Model.GameProduct.Images)
                        {
                            <div class="carousel-item">
                                <img src="@image.Url" class="d-block w-100" alt="@Model.GameProduct.Title" />
                            </div>
                        }
                    }
                    else if (Model.GameProduct.Videos.Count == 0 && Model.GameProduct.Images.Count > 0)
                    {
                        @for (int i = 1; i < Model.GameProduct.Images.Count; i++)
                        {
                            <div class="carousel-item">
                                <img src="@Model.GameProduct.Images[i].Url" class="d-block w-100" alt="@Model.GameProduct.Title"/>
                            </div>
                        }
                    }
                    else if (Model.GameProduct.Videos.Count > 0 && Model.GameProduct.Images.Count == 0)
                    {
                        @for (int i = 1; i < Model.GameProduct.Videos.Count; i++)
                        {
                            <div class="carousel-item">
                                <video src="@Model.GameProduct.Videos[i].Url" class="d-block w-100" controls></video>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="carousel-item active">
                            <img src="/Image/No_Image_Available.jpg" class="d-block w-100" alt="нет контента" />
                        </div>                        
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" style="width: 5%; bottom: 15%;"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" style="width: 5%; bottom: 15%;"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="fw-bold">@Model.GameProduct.Title</h2>
            <div class="d-flex justify-content-between">
                
                <ul>
                    <h3>Категории: </h3>
                    @foreach (var genres in Model.GameProduct.Genres)
                    {
                        <li>@genres.Title</li>
                    }
                </ul>
            </div>
            <h3 class="my-4"><b>Стоимость:</b> @Model.GameProduct.Price ₽</h3>
            <p class="mb-4">
                <b>Описание:</b> @Model.GameProduct.Description
            </p>
            <div class="d-flex gap-3 mb-4">
                @if (!Model.ContainsGameProduct)
                {
                    <a asp-controller="Game" asp-action="Add" asp-route-id="@Model.GameProduct.Id" class="btn btn-success">Добавить в корзину</a>
                }
                else
                {
                    <a class="btn btn-secondary">Игра уже Куплена</a>
                }
            </div>

            @if (!Model.ContainsWishGameProduct)
            {
                <div>
                    <a asp-controller="Game" asp-action="AddWishList" asp-route-id="@Model.GameProduct.Id" class="btn btn-primary" type="button">
                    Добавить в список желаемого
                    </a>
                </div>
            }
            else
            {
                <div>
                    <a asp-controller="Game" asp-action="DeleteWishList" asp-route-id="@Model.GameProduct.Id" class="btn btn-danger" type="button">
                        Удалить из списка желаемого
                    </a>
                </div>
            }

        </div>
        <div style="border-bottom: 1px solid grey; margin-top:3%;">
        </div>
        <h5>Системные требования</h5>
        <div style="border-bottom: 1px solid grey; ">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Минимальные требования</th>
                    @if (Model.GameProduct.RecommendedSystemRequirements is not null)
                    {
                        <th scope="col">Рекомендованные требования</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ОС:</th>
                    <td>@Model.GameProduct.MinimumSystemRequirements.OS</td>
                    @if (Model.GameProduct.RecommendedSystemRequirements is not null)
                    {
                        <td>@Model.GameProduct.RecommendedSystemRequirements.OS</td>
                    }
                </tr>
                <tr>
                    <th scope="row">Процессор:</th>
                    <td>@Model.GameProduct.MinimumSystemRequirements.Processor</td>
                    @if (Model.GameProduct.RecommendedSystemRequirements is not null)
                    {
                        <td>@Model.GameProduct.RecommendedSystemRequirements.Processor</td>
                    }
                </tr>
                <tr>
                    <th scope="row">Оперативная память:</th>
                    <td>@Model.GameProduct.MinimumSystemRequirements.RandomAccessMemory</td>
                    @if (Model.GameProduct.RecommendedSystemRequirements is not null)
                    {
                        <td>@Model.GameProduct.RecommendedSystemRequirements.RandomAccessMemory</td>
                    }
                </tr>
                <tr>
                    <th scope="row">Видеокарта:</th>
                    <td>@Model.GameProduct.MinimumSystemRequirements.VideoCard</td>
                    @if (Model.GameProduct.RecommendedSystemRequirements is not null)
                    {
                        <td>@Model.GameProduct.RecommendedSystemRequirements.VideoCard</td>
                    }
                </tr>
                <tr>
                    <th scope="row">Место на диске:</th>
                    <td>@Model.GameProduct.MinimumSystemRequirements.DiskSpace</td>
                    @if (Model.GameProduct.RecommendedSystemRequirements is not null)
                    {
                        <td>@Model.GameProduct.RecommendedSystemRequirements.DiskSpace</td>
                    }
                </tr>
                <tr>
                    <th scope="row">Сеть</th>
                    @if (Model.GameProduct.MinimumSystemRequirements.Network is not null)
                {
                        <td>@Model.GameProduct.MinimumSystemRequirements.Network</td>
                    }
                    @if (Model.GameProduct.RecommendedSystemRequirements is not null)
                    {
                        <td>@Model.GameProduct.RecommendedSystemRequirements.Network</td>
                    }
                </tr>

            </tbody>
        </table>
    </div>
</div>