@using GameShopModel.Entities;
@model List<GameProduct>

<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Магазин
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Популярное</a>
                        <a class="dropdown-item" href="#">Рекомендации</a>
                        <a class="dropdown-item" href="#">Список Желаемого</a>
                       
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    
    
</nav>


    @foreach(var gameProduct in Model)
{
    <div class="card" style="width: 18rem; margin-right: 10px; margin-top: 10px; --bs-card-spacer-y: 0.3rem;
            --bs-card-spacer-x: 1rem;">
        <img class="card-img-top" src="@gameProduct.PresentationImageUrl" alt="Card image" style="width: 286px; height: 190px">
            <div class="card-body">
            <h5 class="card-title"><b>Название: </b>@gameProduct.Title</h5>
            <p class="card-text"><b>Описание: </b>@gameProduct.Description</p>
            <p class="card-text"><b>Время Начала: </b>@gameProduct.ReleaseDate</p>
            <p class="card-text"><b>Стоимость:</b> @gameProduct.Price &#8381;</p>
                <div class="d-flex justify-content-between" style="flex-direction:column;">
                    <a @* asp-page="./Details" asp-route-id="@service.SheduleId" *@ href="#" class="btn btn-primary" style="
                    position: relative;
                    margin: 10px auto;
                    text-align: center;">
                        Купить
                    </a>
                            @* @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                            {
                    <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@service.Movie.Id" style="
                    position: relative;
                    margin: 10px auto;
                    text-align: center;">
                        Удалить
                    </a>
                            } *@
                    @* <a asp-page="./Edit" asp-route-id="@service.Movie.Id" class="btn btn-primary" style="
                    position: relative;
                    margin: 10px auto;
                    text-align: center;">
                        Редактировать Услугу
                    </a> *@
                    
                </div>
            </div>
    </div>
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>