@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using GameShop.Extensions;
@using GameShopModel.Entities; 
@using GameShop.ViewModel;

@model GameProductsViewModel
<style>
    @@font-face{
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0');
        font-weight: normal;
        font-style: normal;
    }




    .glyphicon{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

        .glyphicon-chevron-right::before {
        content: "\f054";
    }

    .glyphicon-chevron-left::before {
        content: "\f053";
    }
</style>

<div class="container mt-2">
    <form asp-controller="Home" asp-action="Index" method="get">
        Жанр: 
        <select 
            name="selectedGenreGameProduct" 
            asp-for="FilteredGameProductVM.SelectedGenreGameProduct" 
            value="FilteredGameProductVM.SelectedGenreGameProduct" 
            asp-items="Model.FilteredGameProductVM.Genres">
            <option value="">Все</option>
        </select>
        Фильтрация:
        <select
            name = "sortGameProductState"
            asp-for="SortGameProductVM.SortTitleGameProduct">
            <option value="">Все</option>
            <option value="TitleAsk">По возрастанию</option>
            <option value="TitleDesk">По Убыванию</option>
        </select>
        Название: 
        <input name="selectedTitleGameProduct" value="@Model.FilteredGameProductVM.SelectedTitleGameProduct" type="text" />
        <input type="submit" value="Поиск" />
    </form>

    <h2>Игры: </h2>
    <div class="row row-cols-4">

    @foreach(var gameProduct in Model.GameProducts)
    {
        <div class="card" style="width: 18rem; margin: 10px 10px; --bs-card-spacer-y: 0.3rem; cursor: pointer;
            --bs-card-spacer-x: 1rem;">
        <a asp-controller="Game" asp-action="Details" asp-route-id="@gameProduct.Id" style="text-decoration: inherit; color: inherit">
        <img class="card-img-top" src="@gameProduct.PresentationImageUrl" alt="Card image" style="max-width: 262px; ">
            <div class="card-body">
            <h5 class="card-title"> @gameProduct.Title</h5>
            <p class="card-text"><b>Описание: </b>@gameProduct.Description.Truncate(160)</p>
            <p class="card-text"><b>Время Начала: </b>@gameProduct.ReleaseDate</p>
            <p class="card-text"><b>Стоимость:</b> @gameProduct.Price &#8381;</p>
                <div class="d-flex justify-content-between" style="flex-direction:column;">
                    <a asp-controller="Game" asp-action="Details" asp-route-id="@gameProduct.Id" class="btn btn-primary" style="
                    position: relative;
                    margin: 10px auto;
                    text-align: center;">
                        Купить
                    </a>
                            @* @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                            {
                    <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@service.Movie.Id" style="
                    position: relative;
                    margin: 10px auto;
                    text-align: center;">
                        Удалить
                    </a>
                            } *@
                    @* <a asp-page="./Edit" asp-route-id="@service.Movie.Id" class="btn btn-primary" style="
                    position: relative;
                    margin: 10px auto;
                    text-align: center;">
                        Редактировать Услугу
                    </a> *@
                    
                </div>
            </div>
        </a>
        </div>
    }
</div>

@if (Model.GameProducts.HasPreviousPage)
{
    <a asp-action="Index"
           asp-route-page="@(Model.GameProducts.PageIndex - 1)"
       asp-route-sortGameProductState="@(Model.SortGameProductVM.SortTitleGameProduct)"
       asp-route-selectedGenreGameProduct="@(Model.FilteredGameProductVM.SelectedGenreGameProduct)"
       asp-route-selectedTitleGameProduct="@(Model.FilteredGameProductVM.SelectedTitleGameProduct)"
        class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.GameProducts.HasNextPage)
{
    <a asp-action="Index"
           asp-route-page="@(Model.GameProducts.PageIndex + 1)"
       asp-route-sortGameProductState="@(Model.SortGameProductVM.SortTitleGameProduct)"
       asp-route-selectedGenreGameProduct="@(Model.FilteredGameProductVM.SelectedGenreGameProduct)"
       asp-route-selectedTitleGameProduct="@(Model.FilteredGameProductVM.SelectedTitleGameProduct)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
</div>
